html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

header { /*adding background image to the top*/
    background-image: url("../assets/hero.jpg");
    background-size: cover;
}

.topnav { /*setting up positioning of logo and nav*/
    height: 20vh;
    display:flex;
    justify-content: space-between;
    padding: 3vh 10vh;
}

ul { /*getting nav to show horizontally, while adding space between each item*/
    display: flex;
    gap: 5vh;
}

h1 { /*adjusting h1 to be positioned in the center*/
    font-size: 70px;
    color: #EBEFF1;
    margin: 0;
    padding: 47vh 50vh;
    text-align: center;
}

.About { /*spacing out next section and adding flex display*/
    padding: 10vh;
    display: flex;
    gap: 10vh;
}

h1, /*bulk update fonts*/
h2,
h3,
nav,
button {
    font-family: 'Vidaloka', serif;
}

a { /*removing decoration from links in nav*/
    text-decoration: none;
    color: #EBEFF1;
}

ul li { /*removing bullet points from nav*/
    list-style: none;
}

h2 { /*adjusting h2 font size & colour*/
    font-size: 50px;
    color: #0C1D24;
}

h3 { /*adjusting h3 font size and adding padding for the one section it's used*/
    font-size: 32px;
    padding: 20px;
}

nav { /*adjusting nav font size*/
    font-size: 25px;
}

p { /*adjusting overall paragraph font, and colour for About section*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #0C1D24;
}

.DESTINATIONS { /*adding next background image, and display flex to show text while adjusting positioning and spacing of both picture and text*/
    background-image: url("../assets/image2.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 60%;
    color: #EBEFF1;
    height: 50vh;
    text-align: center;
    vertical-align: middle;
}
.DESTINATIONS h2{ /*adjusting h2 text within section*/
    color: #EBEFF1;
    font-size: 70px;
}

.DESTINATIONS p{ /*adjusting p text within section*/
    color:#EBEFF1;
    letter-spacing: 5px;
}

.places { /*displaying flex and spacing out next section*/
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 10vh;
}

.places .container {  /*adding background color below images*/
    background-color: #EBEFF1;
}

.places p{ /*adjusting p colour and adding indent padding*/
    color:#8D9BA0;
    padding: 20px;
}
.latest h2{ /*centering this instance of h2*/
    text-align: center;
}

button { /*adjusting all relevant properties of button*/
    background-color: #D45121;
    color: #EBEFF1;
    border-radius: 0%;
    border: none;
    width: 200px;
    height: 50px;
}

footer { /*padding out footer, while adding background color and centering texts*/
    padding: 10vh;
    background-color: #0C1D24;
    text-align: center;
}

footer ul{ /*individually centering footer nav*/
    justify-content: center;
}

footer p { /*overriding previous p color with footer p color*/
    color: #8D9BA0;
}